@model SignalRWebUI.Dtos.BookingDtos.UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezarvasyon Güncelleme</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<input type="hidden" asp-for="BookingId"/>
						<div class="card-body">
							<div class="form-group">
								<label for="bookingname">Ad Soyad</label>
								<input type="text" class="form-control" asp-for="Name" id="bookingname">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="phone">Telefon Numarası</label>
								<input type="text" class="form-control" asp-for="Phone" id="phone">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Mail">Mail Adresi</label>
								<input type="email" class="form-control" asp-for="Mail" id="Mail">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="PersonCount">Kişi Sayısı</label>
								<input type="text" class="form-control" asp-for="PersonCount" id="PersonCount">
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="date">Rezarvasyon Tarihi</label>
								<input type="date" class="form-control" asp-for="Date" id="date">
							</div>
						</div>

						<div class="card-action">
							<button class="btn btn-primary">Rezarvasyon Güncelle</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

